{% extends 'layout.html' %}
{% load static %}
{% block header %}
    <div class="bg-image d-flex justify-content-center align-items-center div-header fondo-header">
        {% block title %}
            <h1 class="fw-bolder display-2 text-white p-5 h1-header">El Jardin Secreto </h1>
        {% endblock %}
    </div>
{% endblock %}

{% block content %}
    <div class="container mt-lg-3">
        {% if user.is_staff %}
            
            <h2 class="fw-bolder display-5 mb-4">Tipo de Habitacion</h3>
            <div class="d-grid gap-3">
                <a href="{% url 'hotel:tipohabitacion_create' %}" class="btn btn-primary">Crear tipo de Habitacion</a>
                <a href="{% url 'hotel:tipohabitacion_list' %}" class="btn btn-primary">Ver tipo de Habitaciones</a> <br>
            </div>
                
            <h2 class="fw-bolder display-5 mb-4">Habitaciones</h3>
            <div class="d-grid gap-3">
                <a href="{% url 'hotel:habitacion_create' %}" class="btn btn-primary">Crear Habitacion</a>
                <a href="{% url 'hotel:habitacion_list' %}" class="btn btn-primary">Ver Habitaciones</a> <br>
            </div>
                    
            <h2 class="fw-bolder display-5 mb-4">Reservas</h3>
            <div class="d-grid gap-3">
                <a href="{% url 'hotel:reserva_create' %}" class="btn btn-primary">Crear Reserva</a>
                <a href="{% url 'hotel:reserva_list' %}" class="btn btn-primary">Ver Reservas</a> <br>
            </div>
        
        {% else %}
            
            <h2 class="fw-bolder display-5 mb-4">Habitaciones</h2>
            <div class="d-grid gap-3 my-5">
                <a href="{% url 'hotel:habitacion_list' %}" class="btn btn-primary">Listado de Habitaciones</a>
            </div>

            <div class="row">
                {% for habitacion in habitaciones %}
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="card mb-4">
                            {% if habitacion.imagen %}
                                <img class="card-img-top w-100" src="{{ habitacion.imagen.url }}" alt="Imagen Habitacion {{ habitacion.numero }}">
                            {% else %}
                                <img class="card-img-top w-100" src="{% static 'img/hotel/img-no-disponible.jpg' %}" alt="Imagen Habitacion {{ habitacion.numero }}">
                            {% endif %}
                            <div class="card-body">
                            <h5 class="card-title">Habitacion Nro: {{ habitacion.numero }}</h5>
                            <p class="card-text">Precio por dia: ${{ habitacion.precio_x_dia }}</p>
                            <a href="{% url 'hotel:habitacion_detail' habitacion.id %}" class="btn btn-primary">Ver Detalle</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <h2 class="fw-bolder display-5 my-4">Reservas</h3>
            <div class="d-grid gap-3 mb-5">
                <a href="{% url 'hotel:reserva_create' %}" class="btn btn-primary">Reservar</a>
                <a href="{% url 'hotel:reserva_list' %}" class="btn btn-primary">Mis Reservas</a> 
            </div>
                
        {% endif %}
        {% url 'blog:index' as url %}
        {% include 'index_back.html' with link=url %}
    </div>
{% endblock content %}
    
    