@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

// Header

.div-header{
    height: 60vh; 
    width: 100vw; 
    background-position: center; 
    background-size: cover;
}
.h1-header{
    width: 100vw; 
    text-align: center;
    background-color: $fondo-h1; 
}
.fondo-header{
    background-image: $fondo-header;
}

// Navbar
.icono-avatar {
    height: 30px; 
    width: 30px; 
    border-radius: 50%; 
    object-fit: cover;
    background-color: rgb(218, 217, 217);
}
