@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

// Header
.div-header{
    
    height: 70vh; 
    width: 100vw; 
    background-position: center; 
    background-size: cover;
}
.h1-header{
    width: 100vw; 
    text-align: center;
    background-color: $fondo-h1; 
}
.fondo-1{
    background-image: url('https://images.pexels.com/photos/161758/governor-s-mansion-montgomery-alabama-grand-staircase-161758.jpeg'); 
}
.fondo-2{
    background-image: url('https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg');
}

// Navbar
.icono-avatar {
    height: 30px; 
    width: 30px; 
    border-radius: 50%; 
    object-fit: cover;
}
