{% extends 'layout.html' %}


{% block header %}
    <div class="bg-image d-flex justify-content-center align-items-center" style="background-image: url('https://images.pexels.com/photos/161758/governor-s-mansion-montgomery-alabama-grand-staircase-161758.jpeg'); height: 70vh; width: 100vw; background-position: center; background-size: cover;">
        {% block h1 %}
            <h1 class="fw-bolder display-2 text-white p-4" style="background-color: rgba(0,0,0,0.4); width: 100vw; text-align: center;">Hotel el Jardin Secreto </h1>
        {% endblock h1 %}
    </div>
{% endblock header %}


{% block content %}
    <section>
        <h2 class="fw-bolder display-5 mb-4">Sobre el hotel</h2>

        <p class="lead mb-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, sed vero esse laborum doloribus deleniti maiores unde incidunt recusandae facere odit ex! Reprehenderit qui explicabo temporibus, voluptatem tempore cupiditate natus?. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium aspernatur ex facilis nobis, odio consequatur repellat nemo, quis culpa consectetur veniam debitis dolores et ad perspiciatis! Cupiditate blanditiis dolorem dolore.
        </p>

        <div class="d-grid gap-3 mt-5">
            <a href="" class="btn btn-outline-dark">Ver Habitaciones</a>
        </div>
    </section>
{% endblock %}