{% extends 'layout.html' %}
{% load static %}


{% block header %}
    <div class="bg-image d-flex justify-content-center align-items-center div-header fondo-1">
        {% block title %}
            <h1 class="fw-bolder display-2 text-white p-5 h1-header">Hotel el Jardin Secreto </h1>
        {% endblock %}
    </div>
{% endblock %}


{% block content %}
    {% include 'messages.html' %} 
    {% if user.is_authenticated %}
        <h3 class="d-flex align-items-center">Bienvenido {{ user.username }}
            {% if user.infousuario.avatar %}
                <img src="{{ user.infousuario.avatar.url }}" class="icono-avatar" alt="Avatar"/> 
            {% else %}
                <img src="{% static 'img/usuarios/user.png' %}" class="icono-avatar" alt="Avatar"/>
            {% endif %}  
        </h3>
    {% endif %}

    {% if user.is_staff %}
        <div class="d-grid gap-3 mt-3 mb-5">
            <a href="{% url 'admin:index' %}" class="btn btn-outline-dark">Administración</a>
        </div>
    {% endif %}

    <div>
        <h2 class="fw-bolder display-5 mb-4">Sobre el Hotel</h2>

        <p class="lead mb-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, sed vero esse laborum doloribus deleniti maiores unde incidunt recusandae facere odit ex! Reprehenderit qui explicabo temporibus, voluptatem tempore cupiditate natus?. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium aspernatur ex facilis nobis, odio consequatur repellat nemo, quis culpa consectetur veniam debitis dolores et ad perspiciatis! Cupiditate blanditiis dolorem dolore.
        </p>

        <div class="d-grid gap-3 mt-5">
            <a href="{% url 'hotel:index' %}" class="btn btn-outline-dark">Ver Habitaciones</a>
        </div>
    </div>
{% endblock %}